header {
    position: fixed; /* Keeps the logo fixed at the top-left */
    top: 0;
    left: 0;
    padding: 10px; /* Adjust padding as needed */
    z-index: 1000; /* Ensures the logo is above other elements */
}

#logo img {
    height: 50px; /* Adjust the height of your logo */
    width: auto; /* Maintains aspect ratio */
}

body {
font-family: Arial;
background-color: #999;
color: black;
margin: 0;
}

.tabs {
overflow: hidden;
background-color: #999;
}

.tabs button {
background-color: inherit;
color: black;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

.tabs button.active {
background-color: #999;
}

.tabcontent {
display: none;
padding: 20px;
color: black;
margin-top: 10px;
}

h2 {
color: black;
}
