<div
    class="site-style-bar"
    data-pagefind-ignore="all"
>
    <div
        class="site-style-switch"
        role="group"
        aria-label="Website layout"
    >
        <span class="site-style-label">
            Site style
        </span>

        <div class="site-style-options">
            <button
                type="button"
                class="site-style-option"
                data-site-style-option="modern"
                aria-pressed="true"
            >
                Modern
            </button>

            <button
                type="button"
                class="site-style-option"
                data-site-style-option="old"
                aria-pressed="false"
            >
                Old
            </button>

            <span
                class="site-style-slider"
                aria-hidden="true"
            ></span>
        </div>
    </div>
</div>
